@import "tailwindcss";
@import "./css/anim.module.css";

:root {
  --background: #f8fbff;
  --foreground: #ffffff;
  --brand-light: #48a7ff;
  --brand: #168bff;
  --brand-dark: #005ed9;
  --text: #0f172a;
  --border: #e2e8f0;
  --muted-light: #f8fafc;
  --muted: #e2e8f0;
  --muted-dark: #d0d8e2;
  --muted-darker: #64748b;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--brand);
  border-radius: 2.5px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-light: #48a7ff;
  --color-brand: #168bff;
  --color-brand-dark: #005ed9;
  --color-text: #0f172a;
  --color-border: #e2e8f0;
  --color-muted-light: #f8fafc;
  --color-muted: #e2e8f0;
  --color-muted-dark: #d0d8e2;
  --color-muted-darker: #64748b;
  --font-sans: var(--font-inter), sans;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

*:disabled {
  @apply pointer-events-none opacity-50;
}

a,
button,
input[type="radio"],
input[type="checkbox"],
label {
  @apply cursor-pointer;
}

body {
  @apply bg-background text-text;
}

.scrollbar-hidden::-webkit-scrollbar {
  @apply hidden;
}

@layer components {
  .container {
    @apply py-8 px-6 sm:px-16 max-w-none!;
  }

  .content {
    @apply max-w-7xl mx-auto w-full;
  }
}
